/* alert.css */
.root {
    -fx-padding: 20;
    -fx-background-color: #cbcbcb;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

.button {
    -fx-background-color: #d9534f;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #5a73a7;
}
